
@model AspFinal.Models.Entity.PersonDetails
@{
    Layout = null;
}
<div class="side-bar">

    <!-- Professional Details -->
    <h5 class="tittle">Professional Details</h5>
    <img src="@(string.IsNullOrWhiteSpace(Model.MediaUrl)?"":Href("~/Template/Media/"+Model.MediaUrl))" class="img-responsive" alt="Profile Picture" style="width:100%;height:100%;">
    <ul class="personal-info">
        <li>
            <p> <span> Name</span> @Model.Name </p>
        </li>
        <li>
            <p> <span> Age</span> @Model.Age </p>
        </li>
        <li>
            <p> <span> Location</span> @Model.Location </p>
        </li>
        <li>
            <p> <span> Experience</span> @Model.Experience </p>
        </li>
        <li>
            <p> <span> Degree</span> @Model.Degree </p>
        </li>
        <li>
            <p> <span> Career Level</span> @Model.CareerLevel </p>
        </li>
        <li>
            <p> <span> Phone</span> @Model.Phone </p>
        </li>
        <li>
            <p> <span> FAX</span> @Model.Fax </p>
        </li>
        <li>
            <p> <span> E-mail</span> <a href="#."> @Model.Email</a> </p>
        </li>
        <li>
            <p> <span> Website</span><a href="#."> @Model.Website </a></p>
        </li>
    </ul>
    <!-- Social Profiles -->
    @*@Html.Action("SocialProfile", "Home")*@
</div>