@model AspFinal.Models.Entity.Bios
@{
    Layout = null;
}
<form action="@Url.Action("BioSkillsPost","Dashboard")" method="post">

    <div class="inside-sec">
        <!-- BIO AND SKILLS -->
        <h5 class="tittle">Bio & Skills</h5>
        <div class="bio-info padding-30">
            <textarea class="form-control" placeholder="Write your description here"></textarea>
            <div class="skills margin-top-50">

                <!-- SKILLS -->
                <h6>Add A Skill</h6>

                <!-- Sound Engineering -->
                <div class="row">

                    <!-- Categories -->
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoriesId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("CategoriesId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoriesId, "", new { @class = "text-danger" })
                        </div>

                        <span class="add-custm">or <a href="#."> Add A Custom Skills</a></span>
                    </div>

                    <!--  Skills -->
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SkillsId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("SkillsId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SkillsId, "", new { @class = "text-danger" })
                        </div>
                        <span class="add-custm">or <a href="#."> Add A Custom Skills</a></span>
                    </div>
                </div>

                <!-- Disply Type -->
                <div class="disply-type">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio1" value="true" name="isBar">
                                <label for="inlineRadio1"> Display As Bar </label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="true" name="isTag">
                                <label for="inlineRadio2"> Display As Tag </label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Skill Info -->
                <div class="skill-type-info">
                    <label>
                        Skill Level
                        <input type="text" class="form-control" placeholder="0" name="SkillLevel">
                    </label>
                    <label>
                        Skill Description
                        <textarea class="form-control" placeholder="" name="SkillDescription"></textarea>
                    </label>
                </div>
                <!-- ADD MORE-->
                <button type="submit" class="btn"><i class="fa fa-plus"></i> Add Skill</button>
            </div>
        </div>
    </div>
</form>
